---
layout: default
---
<div class="card">
  <div class="card-header">
    <h1 class="mb-0">
      <img src="https://ms2db.github.io/resource/{{ page.icon_url }}" class="img-thumbnail" style="min-height:75px;height:75px;">
      {{ page.npc_name }}
      <small class="fs-4 text-muted">{{ page.id }}</small>
    </h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">data</li>
  </ul>
  {% if page.footer %}
  <div class="card-footer text-danger">
    {% for item in page.footer %}
    {{ item }}
    <br>
    {% endfor %}
  </div>
  {% endif %}
</div>

{{ content }}